@import "../main.scss";

.form {
    background-color: $contact-form-background;
    border-radius: 0.2rem;
    width: clamp(320px, 35vw, 50rem);
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__title {
        font-size: fontClamp($font-minor-title-min, $font-minor-title-max);
        @include fontConfig(
            $font-base,
            $dark-blue,
            $letters-ms,
            $line-s,
            $align: center
        );
    }

    &__paragraph {
        font-size: fontClamp(
            $font-minor-paragraph-min,
            $font-minor-paragraph-max
        );
        @include fontConfig(
            $font-alternative,
            $blue,
            $line: $line-m,
            $align: center,
            $weight: normal,
            $transform: none
        );
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        grid-template-areas:
            "name email"
            "textarea textarea"
            "textarea textarea"
            "btn btn";
    }

    &__input {
        font-size: fontClamp($font-form--input-min, $font-form--input-max);
        @include fontConfig(
            $font-alternative,
            $dark-blue,
            $weight: normal,
            $transform: none
        );
        @include formInputs;

        &[type="text"] {
            grid-area: name;
        }

        &[type="email"] {
            grid-area: email;
        }
    }

    &__textarea {
        font-size: fontClamp(
            $font-minor-component-min,
            $font-minor-component-max
        );
        @include fontConfig(
            $font-alternative,
            $dark-blue,
            $letters-sx,
            $weight: normal,
            $transform: none
        );
        grid-area: textarea;
        @include formInputs;
        resize: none;
    }

    &__btn {
        font-size: fontClamp($font-form--btn-min, $font-form--btn-max);
        @include fontConfig(
            $font-alternative,
            $color: transparent,
            $spacing: $letters-sx,
            $line: $line-xl,
            $align: center
        );
        grid-area: btn;
        width: 85%;
        margin: 0 auto;
        padding: 0.1rem 0;
        background-color: $dark-blue;
        border: none;
        border-radius: 2.5rem;
        position: relative;

        &:before {
            @include stayStill;
            color: $white;
            content: attr(data-btn);
        }

        &:hover {
            background-color: $blue;

            &::before {
                letter-spacing: $letters-ml;
            }
        }

        &:active {
            background-color: $pink;

            &::before {
                font-size: fontClamp(
                    $font-form--btn-active-min,
                    $font-form--btn-active-max
                );
                letter-spacing: $letters-xs;
            }
        }
    }

    &__link {
        font-size: fontClamp($font-form--link-min, $font-form--link-max);
        @include fontConfig(
            $font-alternative,
            $dark-blue,
            $weight: normal,
            $align: center,
            $transform: none,
            $decoration: underline
        );
        cursor: pointer;

        &:hover {
            color: $pink;
        }
    }
}
