$footer-background: #f6a509;
$footer-text: #051c83;

$hover-state-menu: #52cbff;
$click-state-menu: #ff72e4;

$header-top: #ffffff;
$header-bottom: #47b4e3;

$contact-form-background: #c3edff;
$contact-form-text: #7e7d7d;

// fonts colors
$white: #ffffff;
$dark-blue: #051c83;
$blue: #47b4e3;
$light-blue: #52cbff;
$orange: #f6a509;
$gray: #7e7d7d;
