$footer-background: #F6A509;
$footer-text: #051C83;

$hover-state-menu: #52CBFF;
$click-state-menu: #FF72E4;

$header-top: #ffffff;
$header-bottom: #47B4E3;

$contact-form-background: #C3EDFF;
$contact-form-text: #7E7D7D;