// font-family: 'Lato', sans-serif;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Rubik', sans-serif;

$font-base: 'Rubik', sans-serif;
$font-secondary: 'Noto Sans', sans-serif;
$font-alternative: 'Lato', sans-serif;
