// base font configuration
@mixin fontConfig(
    $family,
    $color,
    $spacing: 0,
    $weight: bold,
    $align: left,
    $transform: uppercase
) {
    font-family: $family;
    letter-spacing: $spacing;
    color: $color;
    font-weight: $weight;
    text-align: $align;
    text-transform: $transform;
}
