/* ----------------
LETTER SPACING
------------------ */
$letters-ss: 0px;
$letters-sl: 1px;
$letters-ms: 1.25px;
$letters-ml: 2.08px;
$letters-xl: 6px;

/* ----------------
LINE HEIGHT
------------------ */
$line-ss: 2.2rem;
$line-sl: 2.4rem;
$line-ms: 2.6rem;
$line-ml: 2.9rem;
$line-xs: 4.4rem;
$line-xl: 5.5rem;

/* ----------------
COMPONENTS FONT SIZE
------------------ */
$font-nav: 2rem;
$font-footer: 2rem;
