/* ----------------
  LETTER SPACING
------------------ */
$letters-sx: 0.38px;
$letters-ss: 1px;
$letters-sl: 1.25px;
$letters-ms: 1.64px;
$letters-ml: 2.08px;
$letters-xs: 4px;
$letters-xl: 6px;

/* ----------------
    LINE HEIGHT
------------------ */
// NOTE: ewentualna zmiana na wartosci absolutne
$line-ss: 2.2rem;
$line-sl: 2.4rem;
$line-ms: 2.6rem;
$line-ml: 2.9rem;
$line-xs: 4.4rem;
$line-xl: 5.5rem;

/* ----------------
COMPONENTS FONT SIZE
------------------ */
$font-header-max: 5.2; // rem
$font-about-title-max: 5.2; // rem
$font-about-subtitle-max: 2.5; // rem
$font-about-paragraph-max: 2.2; // rem
$font-projects-title-max: 5.2; // rem
$font-projects-subtitle-max: 2.5; // rem
$font-projects-subtitle-minor-max: 1.6; // rem
$font-projects-paragraph-max: 2.2; // rem
$font-projects-paragraph-minor-max: 1.6; // rem
$font-join-title-max: 4.1; // rem
$font-join-paragraph-max: 2.1; // rem
$font-join-form--input-max: 1.5; // rem
$font-join-form--textarea-max: 1.6; // rem
$font-join-form--btn-max: 1.7; // rem
$font-join-form--btn-active-max: 2; // rem
$font-join-form--link-max: 1.8; // rem
$font-contact-title-max: 4.1; // rem
$font-contact-paragraph-max: 2.2; // rem
$font-contact-form--input-max: 1.5; // rem
$font-contact-form--textarea-max: 1.6; //rem
$font-contact-form--btn-max: 1.7; // rem
$font-contact-form--btn-active-max: 2; // rem
$font-nav-max: 2; // rem
$font-nav--click-max: 2.5; // rem
$font-footer-max: 2; // rem
