@import "../main.scss";

.about {
    display: grid;
    grid-template-columns: 45fr 55fr;

    &--puzzle {
        position: relative;
        &::after {
            display: block;
            content: "";
            position: absolute;
            background: url("../../assets/about/PUZEL.svg") no-repeat;
            bottom: -6.926rem;
            right: 0;
            width: 13.856rem;
            height: 13.852rem;
        }
    }

    .text {
        margin: 6rem 0;
    }

    &__title {
        font-size: fontClamp($font-main-title-min, $font-main-title-max);
        margin-bottom: 4rem;

        &--top {
            @include fontConfig($font-base, $white, $letters-ml, $line-s);

            span {
                display: block;
                color: $light-blue;
            }
        }

        &--bottom {
            @include fontConfig($font-base, $light-blue, $letters-ml, $line-s);

            span {
                display: block;
                color: $dark-blue;
            }
        }
    }

    &__subtitle {
        font-size: fontClamp($font-main-subtitle-min, $font-main-subtitle-max);
        margin-bottom: 2.5rem;

        &--top {
            @include fontConfig($font-secondary, $orange);
        }

        &--bottom {
            @include fontConfig($font-secondary, $dark-blue);
        }
    }

    &__list {
        list-style-type: disc;
        list-style-position: outside;
        padding-left: $margin + rem;
    }

    &__paragraph {
        font-size: fontClamp(
            $font-main-paragraph-min,
            $font-main-paragraph-max
        );
        @include fontConfig(
            $font-secondary,
            $blue,
            $line: $line-m,
            $weight: normal,
            $transform: none
        );
        position: relative;

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }

        &::marker {
            color: transparent;
        }

        &::before {
            @include bulletList;
        }

        &--bottom {
            color: $dark-blue;

            &::before {
                background-color: $orange;
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
        }
    }

    &__background {
        width: 100%;
        height: 100%;
    }

    &__bottom--container {
        background-color: $contact-form-background;
    }
}
