@import "../main.scss";

.about {
    &__title {
        font-size: fontClamp($font-main-title-min, $font-main-title-max);

        &--top {
            @include fontConfig($font-base, $white, $letters-ml, $line-s);

            span {
                display: block;
                color: $light-blue;
            }
        }

        &--bottom {
            @include fontConfig($font-base, $light-blue, $letters-ml);

            span {
                display: block;
                color: $dark-blue;
            }
        }
    }

    &__subtitle {
        font-size: fontClamp($font-main-subtitle-min, $font-main-subtitle-max);

        &--top {
            @include fontConfig($font-secondary, $orange);
        }

        &--bottom {
            @include fontConfig($font-secondary, $dark-blue);
        }
    }

    &__paragraph {
        font-size: fontClamp(
            $font-main-paragraph-min,
            $font-main-paragraph-max
        );
        @include fontConfig(
            $font-secondary,
            $blue,
            $weight: normal,
            $transform: none
        );

        &--bottom {
            color: $dark-blue;
        }
    }
}
