@import "../main.scss";

.header {
    display: flex;
    width: 23vw;
    align-items: center;

    &__title {
        font-size: fontClamp($font-main-title-min, $font-main-title-max);
        @include fontConfig($font-base, $white, $letters-ml, $line-s);
        padding: 1rem;

        span {
            display: block;
            color: $blue;
            margin-top: 1.75rem;
        }
    }
}
