@import "../main.scss";

.join {
    position: relative;
    padding-left: 10rem;

    &__background {
        position: absolute;
        right: 0%;
        top: 45%;
        transform: translateY(-50%);
        height: 160%;
    }
}
