@import "../main.scss";

.projects {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 2rem;

    &__title {
        font-size: fontClamp($font-main-title-min, $font-main-title-max);
        @include fontConfig($font-base, $white, $letters-ml, $line-s);
        margin-bottom: 4rem;

        span {
            display: block;
            color: $light-blue;
        }
    }

    &__subtitle {
        font-size: fontClamp($font-main-subtitle-min, $font-main-subtitle-max);
        @include fontConfig($font-secondary, $orange, $line: $line-m);
        margin-bottom: 2.5rem;

        &--minor {
            font-size: fontClamp(
                $font-minor-component-min,
                $font-minor-component-max
            );
            @include fontConfig(
                $font-secondary,
                $orange,
                $weight: normal,
                $transform: none
            );
        }
    }

    &__list {
        list-style-type: disc;
        list-style-position: outside;
        padding-left: $margin + rem;
    }

    &__paragraph {
        font-size: fontClamp(
            $font-main-paragraph-min,
            $font-main-paragraph-max
        );
        @include fontConfig(
            $font-secondary,
            $blue,
            $line: $line-m,
            $weight: normal,
            $transform: none
        );
        position: relative;

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }

        &::marker {
            color: transparent;
        }

        &::before {
            @include bulletList;
        }

        &--minor {
            font-size: fontClamp(
                $font-minor-component-min,
                $font-minor-component-max
            );
            @include fontConfig(
                $font-secondary,
                $light-blue,
                $line: $line-m,
                $weight: normal,
                $transform: none
            );
        }
    }
}
