@import "../../styles/main.scss";

footer {
    width: 100vw;
    height: 150px;
    background-color: $footer-background;
    position: absolute;
    bottom: 0;

    a {
        margin-right: auto;
    }

    img {
        width: 100%;
    }

    ul {
        li {
            display: inline;
            margin: 0 25px;
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    height: 100%;
}
