.header {
    position: absolute;
    height: 100vh;

    .header-banner {
        position: relative;
        height: calc(100vh + 590.6953125px);
        width: 100vw;
        overflow: hidden;
        top: -590.6953125px;
        left: 0;
        background: transparent url("../../assets/TLO\ I\ GRAFIKA.png") 0 0
            no-repeat padding-box;
    }

    .header-title {
        position: absolute;
        top: 1000px;
        width: 416px;
        font-family: $font-base;
        font-weight: 700;
        font-size: 52px;
        text-transform: uppercase;

        .light {
            color: $header-top;
        }

        .dark {
            color: $header-bottom;
        }
    }
}
