$font-base: "Rubik", sans-serif;
$font-secondary: "Noto Sans", sans-serif;
$font-alternative: "Lato", sans-serif;

// TODO: minimalne fonty do poprawy po ustaleniu
// TODO: dorobic clamp na line-height po ustaleniach
/*******************
    FONT SIZES
*******************/
.header__font-title--top,
.header__font-title--bottom,
.about__font-title--top,
.about__font-title--bottom,
.projects__font-title {
    font-size: fontClamp($font-main-title-min, $font-main-title-max);
}

.about__font-subtitle--top,
.about__font-subtitle--bottom,
.projects__font-subtitle {
    font-size: fontClamp($font-main-subtitle-min, $font-main-subtitle-max);
}

.about__font-paragraph--top,
.about__font-paragraph--bottom,
.projects__font-paragraph {
    font-size: fontClamp($font-main-paragraph-min, $font-main-paragraph-max);
}

.projects__font-subtitle--minor,
.projects__font-paragraph--minor,
.join__font-form--textarea,
.contact__font-form--textarea {
    font-size: fontClamp($font-minor-component-min, $font-minor-component-max);
}

.join__font-title,
.contact__font-title {
    font-size: fontClamp($font-minor-title-min, $font-minor-title-max);
}

.join__font-paragraph,
.contact__font-paragraph {
    font-size: fontClamp($font-minor-paragraph-min, $font-minor-paragraph-max);
}

.join__font-form--input,
.contact__font-form--input {
    font-size: fontClamp($font-form--input-min, $font-form--input-max);
}

.join__font-form--btn,
.contact__font-form--btn {
    font-size: fontClamp($font-form--btn-min, $font-form--btn-max);

    &:active {
        font-size: fontClamp(
            $font-form--btn-active-min,
            $font-form--btn-active-max
        );
    }
}

.join__font-form--link {
    font-size: fontClamp($font-form--link-min, $font-form--link-max);
}

.nav__font,
.footer__font {
    font-size: fontClamp($font-bar-min, $font-bar-max);
}

// .active, // NOTE: możliwe, że trzeba będzie skorygować .active

/*******************
  REST FONT STYLES
********************/
.header__font-title--top {
    @include fontConfig($font-base, $white, $letters-ml);
}

.header__font-title--bottom {
    @include fontConfig($font-base, $blue);
}

.about__font-title--top {
    @include fontConfig($font-base, $white, $letters-ml);

    span {
        color: $light-blue;
    }
}

.about__font-title--bottom {
    @include fontConfig($font-base, $light-blue, $letters-ml);

    span {
        color: $dark-blue;
    }
}

.about__font-subtitle--top {
    @include fontConfig($font-secondary, $orange);
}

.about__font-subtitle--bottom {
    @include fontConfig($font-secondary, $dark-blue);
}

.about__font-paragraph--top,
.about__font-paragraph--bottom,
.projects__font-subtitle--minor,
.projects__font-paragraph,
.projects__font-paragraph--minor,
.join__font-paragraph,
.join__font-form--input,
.contact__font-paragraph,
.contact__font-form--input {
    @include fontConfig(
        $font-secondary,
        $blue,
        $weight: normal,
        $transform: none
    );
}

.about__font-paragraph--bottom {
    color: $dark-blue;
}

.projects__font-title {
    @include fontConfig($font-base, $white, $letters-ml);

    span {
        color: $light-blue;
    }
}

.projects__font-subtitle {
    @include fontConfig($font-secondary, $orange);
}

.projects__font-subtitle--minor,
.projects__font-paragraph,
.projects__font-paragraph--minor {
    color: $orange;
}

.projects__font-paragraph {
    color: $blue;
}

.projects__font-paragraph--minor {
    color: $light-blue;
}

.join__font-title,
.contact__font-title {
    @include fontConfig($font-base, $dark-blue, $letters-ms, $align: center);
}

.join__font-paragraph,
.join__font-form--input {
    color: $blue;
}

.join__font-form--input,
.contact__font-form--input {
    color: $gray;
}

.join__font-form--textarea,
.contact__font-form--textarea {
    @include fontConfig(
        $font-alternative,
        $gray,
        $letters-sx,
        $transform: none
    );
}

.join__font-form--btn,
.contact__font-form--btn {
    @include fontConfig($font-alternative, $white, $letters-sx, $align: center);

    &:hover {
        text-align: $letters-ml;
    }

    &:active {
        text-align: $letters-xs;
    }
}

.join__font-form--link {
    @include fontConfig(
        $font-alternative,
        $dark-blue,
        $weight: normal,
        $align: center,
        $transform: none,
        $decoration: underline
    );
}

.contact__font-paragraph {
    text-align: center;
}

.nav__font {
    @include fontConfig($font-base, $white, $letters-ss, $align: center);

    &:hover::before {
        @include fontConfig(
            $font-base,
            $light-blue,
            $letters-xl,
            $align: center
        );
    }

    &:active::before {
        font-size: fontClamp($font-bar--click-min, $font-bar--click-max);
        color: $pink;
    }

    .active {
        // NOTE: możliwe, że trzeba będzie to skorygować
        @include fontConfig($font-base, $pink, $letters-sl, $align: center);
    }
}

.footer__font {
    @include fontConfig($font-base, $dark-blue, $transform: none);
}
