/********************
   LETTER SPACING
********************/
$letters-sx: 0.38px;
$letters-ss: 1px;
$letters-sl: 1.25px;
$letters-ms: 1.64px;
$letters-ml: 2.08px;
$letters-xs: 4px;
$letters-xl: 6px;

/********************
    LINE HEIGHT
********************/
// NOTE: ewentualna zmiana na wartosci absolutne po uzgodnieniach
$line-s: 1;
$line-m: 1.25;
$line-l: 2.25;
$line-xl: 3;

/********************
 COMPONENTS FONT SIZE
********************/
// NOTE: wszystkie wartości min do ustalenia
$font-main-title-max: 5.2; // rem
$font-main-title-min: 2; // rem
$font-main-subtitle-max: 2.5; // rem
$font-main-subtitle-min: 1.25; // rem
$font-main-paragraph-max: 2.2; // rem
$font-main-paragraph-min: 1; // rem

$font-minor-title-max: 4.1; // rem
$font-minor-title-min: 1.5; // rem
$font-minor-paragraph-max: 2.15; // rem
$font-minor-paragraph-min: 1.05; // rem
$font-minor-component-max: 1.6; // rem
$font-minor-component-min: 0.8; // rem

$font-form--input-max: 1.5; // rem
$font-form--input-min: 0.75; // rem
$font-form--btn-max: 1.7; // rem
$font-form--btn-min: 0.8; // rem
$font-form--btn-active-max: 2; // rem
$font-form--btn-active-min: 1; // rem
$font-form--link-max: 1.8; // rem
$font-form--link-min: 0.9; // rem

$font-bar-max: 2; // rem
$font-bar-min: 0.85; // rem
$font-bar--click-max: 2.5; // rem
$font-bar--click-min: 1.2; // rem
